<!DOCTYPE html>
<html>
    <head>
        <title>Contest Standings</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <div class="container">
            <div class="filter">
                <form method="get" action="">
                    <label for="prefix">Prefix:</label>
                    <input type="text" id="prefix" name="prefix" value="{{ .Prefix }}" />
                    {{ if supportsTeams }}
                        <span class="splitter"></span>
                        <label for="team">Team:</label>
                        <select id="team" name="team">
                            <option value=""{{- if $.TeamID | eq -1 }} selected{{end}}>All</option>
                            {{ range $i, $p := .TeamNames }}
                                <option value="{{ $i }}"{{- if $i | eq $.TeamID }} selected{{end}}>{{ $p }}</option>
                            {{ end }}
                        </select>
                    {{ end }}
                    <span class="splitter"></span>
                    <input type="submit" value="Apply" />
                </form>
            </div>
            <table class="standings">
                <tr>
                    <th class="num-head">#</th>
                    <th class="login-head">Login</th>
                    {{ if supportsNames }}
                        <th class="login-head">Name</th>
                    {{ end }}
                    {{ if supportsTeams }}
                        <th class="login-head">Team</th>
                    {{ end }}
                    {{ range .Standings.Header.Tasks }}
                        <th class="task-head"> {{ .Title }} </th>
                    {{ end }}
                    <th class="score=head">Total</th>
                </tr>
                {{ range $i, $p := .Standings.Participants }}
                    {{ with $p }}
                    <tr>
                        <td class="num"> {{ $i | inc }} </td>
                        <td class="login"> {{ .Login }} </td>
                        {{ if supportsNames }}
                            <td class="login"> {{ .Name }} </td>
                        {{ end }}
                        {{ if supportsTeams }}
                            <td class="login"> {{ .TeamID | teamIDtoName }} </td>
                        {{ end }}
                        {{ range .Tasks }}
                            <td class="task"{{- if supportsColor }} style="color: {{ .Score | calcColor 1 }};" {{ end -}}> {{ printf "%.2f" .Score }} </td>
                        {{ end }}
                        <td class="total"{{- if supportsColor }} style="color: {{ .Total | calcColor (.Tasks | len) }};" {{ end -}}> {{ printf "%.2f" .Total }} </td>
                    </tr>
                    {{ end }}
                {{ end }}
                {{ if supportsFullScores }}
                    <tr>
                        <td class="full-head"></td>
                        <td class="full-head">Full solutions</td>
                        {{ if supportsNames }}
                            <td class="full-head"></td>
                        {{ end }}
                        {{ if supportsTeams }}
                            <td class="full-head"></td>
                        {{ end }}
                        {{ range .FullScores }}
                            <td class="full"> {{ . }} </td>
                        {{ end }}
                        <td class="full-head"></td>
                    </tr>
                {{ end }}
            </table>
        </div>
    </body>
</html>
