html, body {
    width: 100%;
}

.container {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
    margin: auto;
    width: 70%;
}

.filter {
    padding: 0pt 0pt 4pt 0pt;
}

.filter .splitter {
    margin-left: 10pt;
}

.standings {
    border-color: black;
    border-collapse: collapse;
    text-align: center;
}

.standings th, .standings td {
    border: 1pt solid;
    border-color: black;
    padding: 2pt 4pt;
}

.standings th {
    background-color: #d9d9f2;
    font-weight: bold;
    color: #212144;
    border-color: black;
}

.login, .num, .task {
    background-color: #f9f9ff;
}

.total {
    background-color: #e8eaf3;
}

.login-head, .login, .num-head, .num {
    text-align: left;
}

.total {
    font-weight: bold;
}

.full-head, .full {
    background-color: #d9d9f2;
    font-size: 10pt;
}

.full {
    color: green;
    border-color: black;
}
